@use "global" as *;

.contact {
  @include mq(md) {
    position: relative;
    padding-bottom: rem(10);
  }
}

.contact__inner {
  max-width: rem(680);
  width: 100%;
  padding: 0 rem(40);
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    max-width: rem(1120);
    padding-left: $padding-pc;
    padding-right: $padding-pc;
  }
}

// 画像配置
.contact::before {
  @include mq(md) {
    content: "";
    background: url("./../images/common/contact-fish.png") center center / cover no-repeat;
    /*絶対配置で線の位置を決める*/
    display: block;
    position: absolute;
    top: -10%;
    right: 3%;
    /*線の形状*/
    max-width: rem(301);
    width: 100%;
    height: rem(138);
    z-index: 0;
  }
}

.inner.contact__inner {
  padding: 0 rem(30);
  @include mq(md) {
    padding: 0 $padding-pc;
  }
}

.contact__lists {
  @include mq(md) {
    padding: rem(80) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: rem(1180);
    width: 100%;
    box-shadow: rem(4) rem(4) rem(10) rem(0) rgba(0, 0, 0, 0.25);
  }
}

.contact-logo {
  position: relative;
}

.contact-logo img {
  width: rem(174);
  margin: auto;
  @include mq(md) {
    width: rem(200);
  }
}

.contact-logo::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: rem(-4);
  left: 0;
  /*線の形状*/
  width: 100%;
  height: rem(1);
  background: $green;
}

.contact__address-block {
  margin-top: rem(20);
  @include mq(md) {
    display: flex;
    margin-top: rem(24);
  }
}

.contact__list {
  @include mq(md) {
    text-align: left;
  }
}

.contact__list--left {
  @include mq(md) {
    padding-right: rem(80);
    border-right: rem(1) solid $green;
  }
}

.contact__list--right {
  @include mq(md) {
    padding-left: rem(80);
    padding-right: rem(30);
  }
}

.contact__address-item {
  font-family: $second-font-family;
  text-align: center;
  margin-top: rem(4);
  @include mq(md) {
    text-align: left;
  }
}

.contact__text {
  font-size: rem(14);
  color: $green;
  margin-top: rem(8);
  text-align: center;
  font-family: $second-font-family;
}

.contact__google {
  margin-top: rem(16);
  @include mq(md) {
    max-width: rem(273);
    width: 100%;
    margin-top: rem(0);
    margin-left: rem(20);
  }
}

.contact__google iframe {
  aspect-ratio: 295/160;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 273/148;
  }
}

.contact__btn {
  margin-top: rem(37);
}
