@use "global" as *;

.top-about {
}

.top-about-layout {
}

.top-about_inner {
}

.section-title {
}

.section-title__item {
}

.top-about__img-sp {
  display: flex;
}

.top-about__img-left {
  aspect-ratio: 128/194;
}

.top-about__img-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-about__img-right {
  aspect-ratio: 281/186;
}

.top-about__img-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-about__text-en {
  font-size: rem(40);
  color: $green;
  text-transform: capitalize;
  line-height: 1;
  margin-top: rem(40);
}

.top-about__text-block {
  margin-top: rem(16);
}

.top-about__text {
  font-family: $second-font-family;
  line-height: 1.5;
}
