@use "global" as *;

.page-top-btn {
  justify-content: center;
  align-items: center;
  width: rem(48);
  height: rem(48);
  cursor: pointer;
  background-color: $white;
  border-radius: 50%;
  @include mq(md) {
    width: rem(80);
    height: rem(80);
  }
}
