@use "global" as *;

.section-title {
  text-align: center;
}

.section-title__item {
  text-align: center;
  font-weight: normal;
}

.section-title__item {
  font-size: rem(32);
  color: $black;
  @include mq(md) {
    font-size: rem(40);
  }
}

.section-title__item::first-letter {
  color: $green;
  text-transform: uppercase;
}

.section-title__ja-item {
  display: block;
  font-size: rem(12);
  color: $green;
  font-family: $second-font-family;
}

// blog
.section-title__item.section-title__item--blog {
  @include mq(md) {
    color: $white;
  }
}

.section-title__item.section-title__item--blog::first-letter {
  @include mq(md) {
    color: $white;
  }
}

.section-title__item.section-title__item--blog span {
  @include mq(md) {
    color: $white;
  }
}

// Contact
.section-title__item.section-title__item--contact {
  font-weight: normal;
  line-height: 1;
  font-size: rem(80);
  margin-top: rem(33);
  margin-left: rem(-10);
  @include mq(md) {
    margin-left: rem(0);
    margin-top: rem(0);
  }
}
