@use "global" as *;

.section-title {
  text-align: center;
  font-weight: normal;
}

.section-title__item {
  text-align: center;
}

.section-title__item {
  font-size: rem(32);
  color: $black;
  text-transform: capitalize;
  @include mq(md) {
    font-size: rem(40);
  }
}

.section-title__item::first-letter {
  color: $green;
}

.section-title__item span {
  display: block;
  font-size: rem(12);
  color: $green;
  font-family: $second-font-family;
}

// Contact
.section-title__item.section-title__item--contact {
  font-weight: normal;
  line-height: 1;
  font-size: rem(80);
}

// blog
.section-title__item.section-title__item--top-blog {
  color: $white;
}

.section-title__item.section-title__item--top-blog::first-letter {
  color: $white;
}

.section-title__item.section-title__item--top-blog span {
  color: $white;
}
