@use "global" as *;

.sub-fv {
  width: 100%;
  height: rem(460);
  aspect-ratio: 375/460;
  @include mq(md) {
    height: rem(548);
    aspect-ratio: 1440/548;
  }
}

// Campaignセクション
.sub-fv__inner--campaign {
  background-image: url("./../images/common/page-campaign-sp.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: inherit;
  @include mq(md) {
    background-image: url("./../images/common/page-campaign-img-sp.jpg");
  }
}

// About us セクション
.sub-fv__inner--about {
  background-image: url("./../images/common/about-mv-sp.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: inherit;
  @include mq(md) {
    background-image: url("./../images/common/about-img-mv-pc.jpg");
  }
}

// Information
.sub-fv__inner--info {
  background-image: url("./../images/common/amv-information-sp.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: inherit;
  @include mq(md) {
    background-image: url("./../images/common/mv-information-pc.jpg");
  }
}

.sub-fv-layout {
  position: relative;
}

.sub-fv__title {
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: $white;
  font-family: $third-font-family;
  font-size: rem(40);
  text-align: center;
  line-height: 1;
  text-indent: 0.1em;
  @include mq(md) {
    font-size: rem(80);
    top: 59%;
    left: 49.5%;
  }
}

.sub-fv__title span {
  text-transform: uppercase;
}
