@use "global" as *;


// 修正テスト
.voice-cards {
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(40);
  }
}

.voice__cards.voice-cards {
  margin-top: rem(45);
  @include mq(md) {
    margin-top: rem(30);
  }
}

// voiceページ
.page-voice__cards.voice-cards {
  margin-top: rem(45);
  @include mq(md) {
    margin-top: rem(30);
  }
}
